.row {
  width: 10em;
  display: contents;
}

.btn-primary {
  background-color: #d9d9d9;
}

.box-e {
  display: flex;
  padding-top: 2em;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}

.ensinoRemoto {
  /* padding-top: 7em; */
  font-family: Itim;
  display: inline-block;
  text-align: center;
  width: 9em;
  height: 161px;
  transition: box-shadow 0.3s;
}

.ensinoRemoto:hover {
  box-shadow: 0 4px 10px rgba(151, 74, 255, 10);
  transform: translateY(2px);
}

.ensinoInstitucional {
  display: inline-block;
  font-family: Itim;
  text-align: center;
  width: 9em;
  transition: box-shadow 0.3s;
}

.ensinoInstitucional:hover {
  box-shadow: 0 4px 10px rgba(151, 74, 255, 10);
  transform: translateY(2px);
}

.separador {
  padding-top: 50px;
}

.setinha {
  width: 40px;
  color: #ce82ff;
  cursor: pointer;
}

button {
  text-transform: uppercase;
  font-family: Karla;
  font-size: 13px;
  font-weight: 750;
  border-radius: 14px;
  border: 2px solid #37464f;
  background-color: #f2f2f2;
  height: 38px;
  width: 96px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

button:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}

.rodape {
  gap: 12em;
}
