.logoRT {
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 1.5em;
  height: 45vh;
}

.login-form {
  background-color: var(--loginForm);
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 25px;
}


.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 5px;
}


input {
  font-family: Khula;
}

.CriarP {
  display: flex;
  justify-content: center;
  height: 40px;
  border: none;
}

.CriarP p {
  font-family: Khula;
  font-size: 25px;
  color: var(--btnColorC);
}

.btn-primary-C {
  border-color: #9747ff;
  background-color: #ce82ff;
  color: #fff;
  width: 333px;
  height: 40px;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.btn-primary-C:hover {
  background-color: #ce82ff;
  box-shadow: 0 4px 10px rgba(151, 74, 255, 10);
  transform: translateY(2px);
}


