.seta{
  width: 25px;
}

.Benef {
  font-family: Itim;
}

.FalaBene {
  border-radius: 28px;
  background-color: var(--infoB);
  width: 300px;
  height: 50px;
  box-shadow: 0 4px 6px 0 rgba(217, 217, 217, 0.17);
}

.FalaBene p {
  color: var(--falaP);
}


.Journal {
  font-size: 2em;
  color: var(--icons);
}

.Lamp{
  font-size: 2em;
  color: #ce82ff;
}

.Clock{
  font-size: 2em;
  color: var(--icons);
}

.Finger{
  font-size: 2em;
  color: #ce82ff;
}

.Money{
  font-size: 2em;
  color: var(--icons);
}

.FalaBeneAbajur {
  border-radius: 28px;
  background-color: var(--infoB);
  width: 300px;
  height: 50px;
  box-shadow: 0 4px 6px 0 rgba(217, 217, 217, 0.17);
}

.FalaBeneAbajur p {
  width: 300px;
  color: var(--falaP);
}

.FalaBeneRelogio {
  border-radius: 28px;
  background-color: var(--infoB);
  width: 300px;
  height: 50px;
  box-shadow: 0 4px 6px 0 rgba(217, 217, 217, 0.17);
}

.FalaBeneRelogio p {
  width: 300px;
  color: var(--falaP);
}

.FalaBeneDedo {
  border-radius: 28px;
  background-color: var(--infoB);
  width: 300px;
  height: 50px;
  box-shadow: 0 4px 6px 0 rgba(217, 217, 217, 0.17);
}

.FalaBeneDedo p {
  width: 300px;
  color: var(--falaP);
}

.FalaBeneDinheiro {
  border-radius: 28px;
  background-color: var(--infoB);
  width: 300px;
  height: 50px;
  box-shadow: 0 4px 6px 0 rgba(217, 217, 217, 0.17);
}

.FalaBeneDinheiro p {
  width: 300px;
  color: var(--falaP);
}

.separador {
  padding-top: 2em;
}

.setinha {
  width: 40px;
  color: #ce82ff;
  cursor: pointer;
}

.btn-primary-A {
  color: var(--btnProsseguir);
  border: 2px solid #9747ff;
  background-color: #ce82ff;
  width: 96px;
  height: 40px;
  border-radius: 14px;
  text-transform: uppercase;
  font-family: Karla;
  font-size: 13px;
  font-weight: 750;
  transition: box-shadow 0.3s;
}

.btn-primary-A:hover {
  background-color: #ce82ff;
  color: var(--btnProsseguir);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
  transform: translateY(2px);
}


.Paragrafo {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.custom-div {
  background-color: #77767D; /* Cor do fundo */
  color: #fff; /* Cor do texto */
  border: solid 0.3em #88878D;
  border-radius: 35px; /* Borda arredondada */
  padding: 10px 20px; /* Espaçamento interno */
  font-size: 1rem; /* Tamanho do texto */
  text-align: center; /* Alinhamento do texto */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3); /* Sombra */
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  cursor: pointer; /* Cursor de mão ao passar por cima */
}

.custom-div:hover {
  transform: scale(1.05); /* Aumenta ligeiramente no hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.5); /* Intensifica a sombra */
}

.bg-dark {
  background-color: #1a1a2e; /* Cor de fundo escuro */
}

