.fala-roberto {
  width: 250px;
  height: 3.5em;
  background-color: var(--FalaRob);
  border: 3px solid;
  border-color: #616161;
  border-radius: 10px 10px 10px 0;
}

.fala-roberto p {
  font-family: Itim;
  display: flex;
  text-align: center;
  color: var(--FalaRobP);
}
