.logoRT {
  display: flex;
  justify-content: center;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45vh;
}

.login-form {
  background-color: var(--loginForm);
  padding: 20px;
  border-radius: 10px;
}

.form-group {
  margin-bottom: 25px;
}




.remember-me {
  display: flex;
  align-items: center;
}

.remember-me input {
  margin-right: 5px;
}




.EntrarP {
  display: flex;
  justify-content: center;
  height: 40px;
  border: none;
}

.EntrarP p {
  font-family: Khula;
  font-size: 25px;
}

.btn-primary-E{
  color: #fff;
  border-color: #9747ff;
  background-color: #ce82ff;
  width: 239px;
  height: 40px;
  border-radius: 10px;
  transition: box-shadow 0.3s;
}

.btn-primary-E:hover{
  background-color: #ce82ff;
  box-shadow: 0 4px 10px rgba(151, 74, 255, 10);
  transform: translateY(2px);
}

.footer {
  display: flex;
  justify-content: center;
  background-color: #caa2ff;
  padding: 30px 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
