.linha {
  margin-top: -0.5em;
}

h6 {
  font-family: Itim;
  text-align: center;
  margin-top: 1em;
}

.localPerfil{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}